# Block access to sensitive config file
<Files ".config.php">
    Require all denied
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect to HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteBase /api/

  # Ignore existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Route all other requests to api.php
  RewriteRule ^ api.php [QSA,L]
</IfModule>
